In [6]:
import pandas as pd

In [3]:
dataset2_feat_path = "https://raw.githubusercontent.com/DaneshMoradigaravand/PanPred/master/test_data/curated_input_GY.csv"
dataset2_class_path = "https://raw.githubusercontent.com/DaneshMoradigaravand/PanPred/master/test_data/Metadata.csv"

In [7]:
def read_dataset2(antiB_name = 'CTZ'):
  df = pd.read_csv(dataset2_feat_path)
  dfy = pd.read_csv(dataset2_class_path)
  
  df[antiB_name] = dfy[antiB_name].to_frame()
  df = df.dropna()

  # Getting Prediction column
  y = df.pop(df.columns[-1])
  # Getting features
  X = df.iloc[:, 3:]
  y.replace({'S': 0, 'R': 1}, inplace = True)
  return df, X, y

In [8]:
read_dataset2('CTX')

(      Unnamed: 0  AMX    Year  yeiU  yhhS  ybaE  eutR  ibrB  ytfP  aslB  ...  \
 23    11657_5#31  1.0  2002.0     1     1     1     1     1     1     1  ...
 24    11657_5#32  1.0  2002.0     1     1     1     1     1     1     1  ...
 25    11657_5#33  0.0  2002.0     1     1     1     1     1     1     1  ...
 26    11657_5#34  1.0  2002.0     1     1     1     1     1     1     1  ...
 27    11657_5#35  1.0  2002.0     1     1     1     1     1     1     1  ...
 ...          ...  ...     ...   ...   ...   ...   ...   ...   ...   ...  ...
 1504  12045_3#63  1.0  2004.0     1     1     1     1     1     1     1  ...
 1505  12045_3#64  1.0  2004.0     1     1     1     1     1     1     1  ...
 1506  12045_3#65  0.0  2007.0     1     1     1     1     1     1     1  ...
 1507  12045_3#66  1.0  2002.0     1     1     1     1     1     1     1  ...
 1508  12045_3#67  0.0  2002.0     1     1     1     1     1     1     1  ...

       group_48768  group_48873  group_48916  group_48933  group_48937  \
 23              0            0            0            0            0
 24              0            0            0            0            0
 25              0            0            0            0            0
 26              0            0            0            0            0
 27              0            0            0            0            0
 ...           ...          ...          ...          ...          ...
 1504            0            0            0            0            0
 1505            0            0            0            0            0
 1506            0            0            0            0            0
 1507            0            0            0            0            0
 1508            0            0            0            0            0

       group_48958  group_49020  group_49174  group_49253  group_49257
 23              0            0            0            0            0
 24              0            0            0            0            0
 25              0            0            0            0            0
 26              0            0            0            0            0
 27              0            0            0            0            0
 ...           ...          ...          ...          ...          ...
 1504            0            0            0            0            0
 1505            0            0            0            0            0
 1506            0            0            0            0            0
 1507            0            0            0            0            0
 1508            0            0            0            0            0

 [1018 rows x 17201 columns],
       yeiU  yhhS  ybaE  eutR  ibrB  ytfP  aslB  narQ  tolR  galM  ...  \
 23       1     1     1     1     1     1     1     1     1     1  ...
 24       1     1     1     1     1     1     1     1     1     1  ...
 25       1     1     1     1     1     1     1     1     1     1  ...
 26       1     1     1     1     1     1     1     1     1     1  ...
 27       1     1     1     1     1     1     1     1     1     1  ...
 ...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
 1504     1     1     1     1     1     1     1     1     1     1  ...
 1505     1     1     1     1     1     1     1     1     1     1  ...
 1506     1     1     1     1     1     1     1     1     1     1  ...
 1507     1     1     1     1     1     1     1     1     1     1  ...
 1508     1     1     1     1     1     1     1     1     1     1  ...

       group_48768  group_48873  group_48916  group_48933  group_48937  \
 23              0            0            0            0            0
 24              0            0            0            0            0
 25              0            0            0            0            0
 26              0            0            0            0            0
 27              0            0            0            0            0
 ...           ...          ...          ...          ...          ...
 1504            0            0            0            0            0
 1505            0            0            0            0            0
 1506            0            0            0            0            0
 1507            0            0            0            0            0
 1508            0            0            0            0            0

       group_48958  group_49020  group_49174  group_49253  group_49257
 23              0            0            0            0            0
 24              0            0            0            0            0
 25              0            0            0            0            0
 26              0            0            0            0            0
 27              0            0            0            0            0
 ...           ...          ...          ...          ...          ...
 1504            0            0            0            0            0
 1505            0            0            0            0            0
 1506            0            0            0            0            0
 1507            0            0            0            0            0
 1508            0            0            0            0            0

 [1018 rows x 17198 columns],
 23      0
 24      0
 25      0
 26      0
 27      0
        ..
 1504    0
 1505    0
 1506    0
 1507    0
 1508    0
 Name: CTX, Length: 1018, dtype: int64)

In [9]:
df = pd.read_csv(dataset2_feat_path)
dfy = pd.read_csv(dataset2_class_path)

In [ ]:
df[antiB_name] = dfy[antiB_name].to_frame()
df = df.dropna()